<footer>
    <div class="footer-top">
      <div class="wrapper">
        <div class="footer-top-inner d-flex">
          <div class="col wow animated fadeIn slow" data-wow-delay="0s">
            <h2 class="heading">quick links</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="residential.html">Services</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>

          <div class="col wow animated fadeIn slow" data-wow-delay="0.2s">
            <h2 class="heading">quick links</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="residential.html">Services</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>

          <div class="col wow animated fadeIn slow" data-wow-delay="0.4s">
            <h2 class="heading">quick links</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="residential.html">Services</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col wow animated fadeIn slow" data-wow-delay="0.5s">
            <h2 class="heading">quick links</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="residential.html">Services</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-bottom-inner d-flex">
          <p>© Copyright Humvikas 2019 | All Rights Reserved.</p>
          <p>Designed By <a href="https://www.dotline.in/" target="_blank">Dotline</a></p>
        </div>
      </div>
    </div>
  </footer>

  <% if (title == 'Humvikas') {%>
    <div class="popup-outer" id="pop1">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">Why we are?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse expedita velit laudantium error quia tempora
            dolor ratione, tenetur provident vitae exercitationem, tempore aliquam atque fugiat sint? Placeat iste explicabo
            molestias.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed,
            quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis
            ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
        </div>
      </div>
    
      <div class="popup-outer" id="pop2">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">Vision</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse expedita velit laudantium error quia tempora
            dolor ratione, tenetur provident vitae exercitationem, tempore aliquam atque fugiat sint? Placeat iste explicabo
            molestias.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed,
            quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis
            ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
        </div>
      </div>
    
      <div class="popup-outer" id="pop3">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">Mission</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse expedita velit laudantium error quia tempora
            dolor ratione, tenetur provident vitae exercitationem, tempore aliquam atque fugiat sint? Placeat iste explicabo
            molestias.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed,
            quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis
            ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
        </div>
      </div>
    
      <div class="popup-outer" id="pop4">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">History</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse expedita velit laudantium error quia tempora
            dolor ratione, tenetur provident vitae exercitationem, tempore aliquam atque fugiat sint? Placeat iste explicabo
            molestias.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed,
            quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis
            ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium harum reiciendis ipsum sed, quibusdam
            distinctio asperiores consectetur ipsam dolorem, aperiam libero enim? Enim quod pariatur deleniti esse
            voluptatem sint nihil.</p>
        </div>
      </div>
    
      <div class="popup-outer" id="pop5">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <div class="col">
            <!-- <h2 class="heading">User Sign Up</h2> -->
            <!-- <form action="" method="post">
              <div class="form-box">
                <input type="text" name="username" id="">
              </div>
              <div class="form-box">
                <input type="password" name="password" id="">
              </div>
              <div class="form-box">
                <button type="submit" name="submit">Log In</button>
              </div>
            </form> -->
            <a href="#" class="user-sign-trigger">User Sign Up</a>
          </div>
          <div class="col">
            <!-- <h2 class="heading">Volunteer Sign Up</h2> -->
            <!-- <form action="" method="post">
              <div class="form-box">
                <input type="text" name="username" id="">
              </div>
              <div class="form-box">
                <input type="password" name="password" id="">
              </div>
              <div class="form-box">
                <button type="submit" name="submit">Log In</button>
              </div>
            </form> -->
            <a href="#" class="volunteer-sign-trigger">Volunteer Sign-Up</a>
          </div>
        </div>
      </div>
    
      <!-- <div class="enquiry">
        <button><i class="fas fa-search"></i></button>
        <div class="en-toggle">
          <form method="post" action="contact.php" id="feedback">
            <input type="text" name="url" style="display:none;">
            <input type="text" name="search" value="Type to Search" class="mail">
            <input type="submit" name="Submit" value="Send" id="Submit" class="mail">
          </form>
        </div>
      </div> -->
    
      <div class="popup-outer" id="pop6">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">Volunteer Sign Up</h2>
          <form action="">
            <div class="form-box-half">
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*First Name">
              </div>
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Last Name">
              </div>
            </div>
            <div class="form-box-half">
              <div class="form-box">
                <input type="date" name="" id="" placeholder="*DOB">
              </div>
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Email">
              </div>
            </div>
            <div class="form-box-half">
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Phone">
              </div>
    
              <div class="form-box">
                <select name="qualification" id="">
                  <option value="Student">Student</option>
                  <option value="Self Employed">Self Employed</option>
                  <option value="Salaried">Salaried</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="form-box-half">
              <div class="form-box">
                <p>Any Social activities?</p>
              </div>
              <div class="form-box">
                <input type="radio" name="social-activity" id="radio1" placeholder="Yes" value="Yes"> Yes
                <input type="radio" name="social-activity" id="radio2" placeholder="No" value="No"> No
              </div>
            </div>
            <div class="form-box textarea">
              <textarea name="social-activity-message" id="" placeholder="About the Social Activity"></textarea>
            </div>
            <div class="form-box">
              <button type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    
      <div class="popup-outer" id="pop7">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">User Sign Up</h2>
          <form action="">
            <div class="form-box-half">
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*First Name">
              </div>
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Last Name">
              </div>
            </div>
            <div class="form-box-half">
              <div class="form-box">
                <input type="date" name="" id="" placeholder="*DOB">
              </div>
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Email">
              </div>
            </div>
            <div class="form-box-half">
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Phone">
              </div>
            </div>
            <div class="form-box">
              <button type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    
    
      <div class="popup-outer" id="pop8">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <h2 class="heading">Login</h2>
          <form action="">
            <div class="form-box-half">
              <div class="form-box">
                <input type="text" name="" id="" placeholder="*Username">
              </div>
              <div class="form-box">
                <input type="password" name="" id="" placeholder="*Password">
              </div>
            </div>
            <div class="form-box">
              <button type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    
      <div class="qr-popup">
        <span class="qr-close"><i class="fas fa-times"></i></span>
        <div class="img-box">
          <img src="images/qr.png" alt="">
        </div>
        <div class="box-content">
          <p>Scan to Download "Humvikas" App</p>
        </div>
      </div>
    
      <div class="popup-outer show" id="intro-popup">
        <div class="popup-inner">
          <span class="close"><i class="fas fa-times"></i></span>
          <div class="intro-slider">
            <div class="box-outer">
              <div class="box">
                <h2 class="heading">Intro Slide 1</h2>
              </div>
            </div>
    
            <div class="box-outer">
              <div class="box">
                <h2 class="heading">Intro Slide 1</h2>
              </div>
            </div>
    
            <div class="box-outer">
              <div class="box">
    
                <div class="col">
                  <a href="#" id="login-trigger">Log In</a>
                </div>
                <div class="col">Or</div>
                <div class="col">
                  <a href="#" class="user-sign-trigger">User Sign Up</a>
                </div>
                <div class="col">
                  <a href="#" class="volunteer-sign-trigger">Volunteer Sign-Up</a>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>

<!-- Javascript Files-->
      <script src="js/scrollspy.js"></script>
      <script src="slick/slick.min.js"></script>
      <script src="slick/slick-init.js"></script>
      <script src="js/jquery.countTo.js"></script>
      <script>
        $(function () {
    
          /*$(".alert-popup").hide();*/
          $("#popup1").on("click", function () {
            $('#pop1').addClass('show');
          });
    
          $("#popup2").on("click", function () {
            $('#pop2').addClass('show');
          });
    
          $("#popup3").on("click", function () {
            $('#pop3').addClass('show');
          });
    
          $("#popup4").on("click", function () {
            $('#pop4').addClass('show');
          });
    
          $("#signup-btn").on("click", function () {
            $('#pop5').addClass('show');
          });
    
          $("#login-trigger").on("click", function () {
            $('#pop8').addClass('show');
          });
    
    
          // $("#block").on("click", function () {
          //   $(".alert-popup2").addClass("show");
          // });
    
          $(".close").on("click", function () {
            $(this).parent().parent().removeClass("show");
          });
    
          $(".qr-close").on("click", function () {
            $(".qr-popup").hide();
          });
    
    
    
        });
      </script>

<script>
    (function ($) {
      $(".user-sign-trigger").on("click", function () {
        $("#pop7").toggleClass("open");
      });
      $(".volunteer-sign-trigger").on("click", function () {
        $("#pop6").toggleClass("open");
      });

      $(".close").on("click", function () {
        $("#pop6").removeClass("open");
        $("#pop7").removeClass("open");
      });

    })(jQuery);
  </script>
    
      <script>
        WOW.prototype.addBox = function (element) {
          this.boxes.push(element);
        };
    
        // Init WOW.js and get instance
        var wow = new WOW();
        wow.init();
    
        // Attach scrollSpy to .wow elements for detect view exit events,
        // then reset elements and add again for animation
        $(".wow")
          .on("scrollSpy:exit", function () {
            $(this)
              .css({
                visibility: "hidden",
                "animation-name": "none"
              })
              .removeClass("animated");
            wow.addBox(this);
          })
          .scrollSpy();
      </script>
      <script type="text/javascript">
        $('.timer').countTo();
      </script>
    
      <script>
        (function ($) {
          $(".form-box.textarea").hide();
          $('input:radio[name="social-activity"]').change(
            function () {
              if (this.checked && this.value == 'Yes') {
                // note that, as per comments, the 'changed'
                // <input> will *always* be checked, as the change
                // event only fires on checking an <input>, not
                // on un-checking it.
                // append goes here
                $(".form-box.textarea").show();
              } else {
                $(".form-box.textarea").hide();
              }
            });
        })(jQuery);
      </script>
<% } %>    
  <script src="js/wow.js"></script>
  
  <script src="js/mobile-menu.js"></script>

  <% if(title == 'FAQ') {%>
    
    <script type="text/javascript" src="js/accordian.js"></script>

    <% } %>
  
  <script type="text/javascript">
    $(document).ready(function () {
      $(document).on("scroll", function () {
        if ($(document).scrollTop() > 94) {
          $("header").addClass("sticky");
        } else {
          $("header").removeClass("sticky");
        }
      });
    });
  </script>
</body>

</html>