<%- include('partials/header.ejs')%>

  <main>
    <section class="banner innerpage-banner">
      <div class="banner-inner">
        <div class="slide">
          <img src="images/banner1.jpg" alt="Banner" />
        </div>
      </div>
    </section>

    <section class="inps0 inps4 faq">
      <div class="wrapper">
        <h2 class="heading">F.A.Q</h2>
        <div class="inps4-inner faq-inner d-flex wow animated fadeIn slow">
          <div class="left">
            <div class="accordion-container">

              <div class="set"> <a href="javascript:void(0)"> 1. What is Hum Vikas India? <i
                    class="fas fa-angle-down"></i> </a>
                <div class="content">
                  <p>An initiation to make our society a garbage free, plastic free, Green & Eco-Friendly and create a
                    overall developed society. Unique platform where everyone can benefit regardless of age, gender and
                    social status for their self as well as the society development</p>
                </div>
              </div>

              <div class="set"> <a href="javascript:void(0)"> 2. What are the social Benefits? <i
                    class="fas fa-angle-down"></i> </a>
                <div class="content">
                  <p class="content-bullets">Go Green</p>
                  <p class="content-bullets">Plastic Free</p>
                  <p class="content-bullets">Garbage Free</p>
                  <p class="content-bullets">Clean Environment</p>
                </div>
              </div>

              <div class="set"> <a href="javascript:void(0)"> 3. Clubs initiated by HUM VIKAS INDIA? <i
                    class="fas fa-angle-down"></i> </a>
                <div class="content">
                  <p class="content-bullets">Self Development / Swayam krushi </p>
                  <p class="content-bullets">Senior Citizens Club</p>
                  <p class="content-bullets">Youth Club</p>
                </div>
              </div>

              <div class="set"> <a href="javascript:void(0)"> 4. Why I need to join HVI? <i
                    class="fas fa-angle-down"></i> </a>
                <div class="content">
                  <p>HUM VIKAS INDIA is a Social welfare organization based on a very unique concept. An idea that will
                    build a well structured joyful society.The objective is to build a better home, a better Society and
                    a better Nation, for ourselves and for
                    the future generations to come.</p>
                </div>
              </div>

              <div class="set"> <a href="javascript:void(0)"> 5. How to connect? <i class="fas fa-angle-down"></i> </a>
                <div class="content">
                  <p class="phone">Call : <a href="tel:+91 9916998681">+91 9916998681</a></p>
                  <p class="mail">
                    Email : <a href="mailto:join@humvikasindia.com">join@humvikasindia.com</a></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('partials/footer.ejs')%>