<%- include('partials/header.ejs')%>

  <main>
    <section class="banner">
      <div class="banner-inner">
        <div class="slide">
          <img src="images/banner1.jpg" alt="Banner" />
        </div>
        <div class="slide">
          <img src="images/banner1.jpg" alt="Banner" />
        </div>
        <div class="slide">
          <img src="images/banner1.jpg" alt="Banner" />
        </div>
      </div>
      <div class="banner-text d-flex">
        <div class="banner-text-inner">
          <h1 class="wow animated slideInUp slow" data-wow-delay="0s">Young Indians join hands with HUM VIKAS INDIA.
          </h1>
          <h2 class="wow animated slideInUp slow" data-wow-delay="0.4s">
            Let us together build a better society for our nation.<br />
            Change the mindset of IMPOSSIBLE to POSSIBLE
          </h2>
          <p class="gen-btn-l wow animated slideInUp slow" data-wow-delay="0.6s"><a href="#">Learn More</a></p>
        </div>
      </div>
    </section>

    <section class="inps0 inps1">
      <div class="wrapper">
        <div class="inps1-inner d-flex">
          <div class="left wow animated fadeIn slow" data-wow-delay="0s">
            <h2 class="heading">About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aliquam recusandae! Illo, quis
              minima!
              Hic et officiis deserunt totam quam optio consequuntur ex error sed, omnis neque. Magnam, velit sapiente?
            </p>
            <div class="row d-flex">
              <div class="box" id="popup1">
                <h3>Why We Are?</h3>
              </div>
              <div class="box" id="popup2">
                <h3>Vision</h3>
              </div>
              <div class="box" id="popup3">
                <h3>Mission</h3>
              </div>
              <div class="box" id="popup4">
                <h3>History</h3>
              </div>
            </div>
          </div>

          <div class="right wow animated fadeIn slow" data-wow-delay="0.4s">
            <!-- <img src="images/download.png" alt="" /> -->
            <iframe src="https://www.youtube.com/embed/Vw-TeVhfVxY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="inps0 inps2">
      <div class="wrapper">
        <h2 class="heading">Our services</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps2-inner d-flex">
          <div class="box wow animated fadeIn slow" data-wow-delay="0s">
            <div class="box-img">
              <img src="images/bg2.jpg" alt="" />
            </div>
            <div class="box-text">
              <h3>Mahila Shakthi</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>
              <p class="gen-btn-l"><a href="#">Read More</a></p>
            </div>
          </div>

          <div class="box wow animated fadeIn slow" data-wow-delay="0.3s">
            <div class="box-img">
              <img src="images/bg3.jpg" alt="" />
            </div>
            <div class="box-text">
              <h3>Swach Bharat</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>
              <p class="gen-btn-l"><a href="#">Read More</a></p>
            </div>
          </div>

          <div class="box wow animated fadeIn slow" data-wow-delay="0.5s">
            <div class="box-img">
              <img src="images/bg4.jpg" alt="" />
            </div>
            <div class="box-text">
              <h3>Go Green</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>
              <p class="gen-btn-l"><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="inps0 stats-outer">
      <div class="wrapper">
        <div class="stats-inner">


          <div class="box">
            <div class="left">
              <i class="fas fa-building"></i>
            </div>
            <div class="right">
              <h4><span class="timer" data-from="25" data-to="178">178</span></h4>
              <p>Organisations</p>
            </div>
          </div>

          <div class="box">
            <div class="left">
              <i class="fas fa-building"></i>
            </div>
            <div class="right">
              <h4><span class="timer" data-from="0" data-to="4437">178</span></h4>
              <p>Initiatives</p>
            </div>
          </div>

          <div class="box">
            <div class="left">
              <i class="fas fa-users"></i>
            </div>
            <div class="right">
              <h4><span class="timer" data-from="25" data-to="71269">178</span></h4>
              <p>Volunteers</p>
            </div>
          </div>

          <div class="box">
            <div class="left">
              <i class="far fa-clock"></i>
            </div>
            <div class="right">
              <h4><span class="timer" data-from="25" data-to="178">178</span></h4>
              <p>Organisations</p>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section class="inps0 inps3 associate">
      <div class="wrapper">
        <h2 class="heading">Associate Partners</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps3-inner d-flex">
          <div class="box wow animated fadeIn slow" data-wow-delay="0s">
            <div class="box-img">
              <img src="images/astra.jpg" alt="" />
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="inps0 inps3 self">
      <div class="wrapper">
        <h2 class="heading">Self Development & Society Development</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps3-inner d-flex wow animated fadeIn slow">
          <div class="box">
            <h4>Woman Empowerment</h4>
            <div class="box-img">
              <img src="images/bg5.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <h4>Woman Empowerment</h4>
            <div class="box-img">
              <img src="images/bg6.jpg" alt="" />
            </div>
          </div>
          <div class="box">
            <h4>Woman Empowerment</h4>
            <div class="box-img">
              <img src="images/bg5.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <h4>Woman Empowerment</h4>
            <div class="box-img">
              <img src="images/bg5.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="inps0 inps4">
      <div class="wrapper">
        <h2 class="heading">sponsors</h2>
        <div class="inps4-inner d-flex wow animated fadeIn slow">
          <div class="box">
            <div class="box-img">
              <img src="images/icon1.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="box-img">
              <img src="images/icon2.jpg" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="images/icon3.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="box-img">
              <img src="images/icon4.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="box-img">
              <img src="images/icon1.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="box-img">
              <img src="images/icon2.jpg" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="box-img">
              <img src="images/icon3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="inps0 inps5">
      <div class="wrapper">
        <h2 class="heading">All Initiatives</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps5-inner d-flex">
          <div class="box wow animated fadeIn slow" data-wow-delay="0s">
            <h4>Create Voter Awareness</h4>
            <div class="box-img">
              <img src="images/bg7.jpg" alt="" />
            </div>
            <div class="box-content">
              <p class="date-time">
                21-04-2019 10:31:50
              </p>

              <p class="views">
                107
              </p>
            </div>
          </div>

          <div class="box wow animated fadeIn slow" data-wow-delay="0.3s">
            <h4>Ayushman bharat</h4>
            <div class="box-img">
              <img src="images/bg8.jpg" alt="" />
            </div>

            <div class="box-content">
              <p class="date-time">
                21-04-2019 10:31:50
              </p>

              <p class="views">
                107
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="inps0 inps6">
      <div class="wrapper">
        <h2 class="heading">Organization</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps6-inner d-flex">

          <div class="box-outer">
            <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0s">
              <div class="box-img">
                <img src="images/bg10.jpg" alt="" />
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  volutpat.</p>
                <p class="gen-btn"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="box-outer">
            <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0.3s">
              <div class="box-img">
                <img src="images/bg9.jpg" alt="" />
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  volutpat.</p>
                <p class="gen-btn"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="box-outer">
            <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0.3s">
              <div class="box-img">
                <img src="images/bg10.jpg" alt="" />
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  volutpat.</p>
                <p class="gen-btn"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="box-outer">
            <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0.3s">
              <div class="box-img">
                <img src="images/bg9.jpg" alt="" />
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  volutpat.</p>
                <p class="gen-btn"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="inps0 inps7">
      <div class="wrapper">
        <h2 class="heading">Offer Zone</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <div class="inps7-inner d-flex">
          <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0s">
            <div class="box-img">
              <img src="images/icon5.jpg" alt="" />
            </div>
            <div class="box-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat.</p>
              <p class="gen-btn"><a href="#">Learn More</a></p>
            </div>
          </div>

          <div class="box d-flex wow animated fadeIn slow" data-wow-delay="0.3s">
            <div class="box-img">
              <img src="images/icon6.jpg" alt="" />
            </div>
            <div class="box-content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat.</p>
              <p class="gen-btn"><a href="#">Learn More</a></p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>


  <%- include('partials/footer.ejs')%>
